- pages = sitemap.resources.find_all{|p| p.url == p.url.match(/^\/work\/.*?[\/]+/).to_s  }
- index = pages.index(current_page)
%html{:lang => 'en'}
  
  = partial "layouts/header_element"
  = javascript_include_tag "phosphorframework"

  %body{:class=> page_classes}

    = partial "layouts/site_nav"

    %section.main.projects 

      %article
        - if current_page.data.gallery_images
          .project_gallery        
            - current_page.data.gallery_images.each_with_index do |img, index|
              .gallery_operator{:id => "gallery_#{index}"}
            
            - current_page.data.gallery_images.each_with_index do |img, index|
              %figure.project_gallery_item
                .scroll_wrapper
                  %img{:src=>current_page.url+img.url, :id=>'slide_', :class=>'gallery_large'} 
                %figcaption
                //= img.caption

            .project_gallery_nav.pixel_font.has_top_shadow
              - current_page.data.gallery_images.each_with_index do |img, index|
                %a.gallery_thumb{:href=>"#gallery_#{index}", :style => "background-image:url(#{current_page.url+img.url});"} 

        .article_content.white_bg.has_shadow
          .centered_measure.with_top_margin.with_bottom_margin
            %h1.text_shadow.project_title
              =current_page.data.title
            
            = yield   
        
          .nav_flipper.left
            .previous
              /=image_tag 'arrow_previous-tiny.svg'
              - prev_page = pages[index-1]
              - prev_page.nil? ? prev_page = pages.last : '' ;
              %a.pixel_font{:href=>prev_page.url.chomp('/')}
                <

          .nav_flipper.right
            .next
              - next_page = pages[index+1]
              - next_page.nil? ? next_page = pages.last : '' ;
              /=image_tag 'arrow_next-tiny.svg'
              %a.pixel_font{:href=>prev_page.url.chomp('/')} 
                >

          .clear 
 
  = yield_content(:javascript)