- pages = sitemap.resources.find_all{|p| p.url.match(/^\/portfolio\/.*\/$/)  }
- index = pages.index(current_page)
%html{:lang => 'en'}
  
  = partial "layouts/header_element"

  %body{:class=> page_classes}

    = partial "layouts/site_nav"

    %section.main.projects  

      %h1.text_shadow
        =current_page.data.title

      %article
        - if current_page.data.gallery_images
          .project_gallery        
            - current_page.data.gallery_images.each_with_index do |img, index|
              .gallery_operator{:id => "gallery_#{index}"}
            
            - current_page.data.gallery_images.each_with_index do |img, index|
              
              %figure.project_gallery_item
                .scroll_wrapper
                  %img{:src=>img.url, :id=>'slide_', :class=>'gallery_large'} 
                %figcaption
                  = img.caption

            .project_gallery_nav.pixel_font.has_top_shadow
              - current_page.data.gallery_images.each_with_index do |img, index|
                %a{:href=>"#gallery_#{index}"} &#9632

        .article_content.white_bg.has_shadow
          .centered_measure
            = yield   
        
          .nav_flipper.left
            .previous
              //=image_tag 'arrow_previous-tiny.svg'
              - prev_page = pages[index-1]
              - prev_page.nil? ? prev_page = pages.last : '' ;
              %a.pixel_font{:href=>prev_page.url} previous

          .nav_flipper.right
            .next
              - next_page = pages[index+1]
              - next_page.nil? ? next_page = pages.last : '' ;
              //=image_tag 'arrow_next-tiny.svg'
              %a.pixel_font{:href=>prev_page.url} next

          .clear 

  = javascript_include_tag "jquery.min.js"  
  = javascript_include_tag "my_face.js"  
 
  = yield_content(:javascript)