- pages = sitemap.resources.find_all{|p| p.url.match(/^\/portfolio\/.*\/$/)  }
- index = pages.index(current_page)

%html{:lang => 'en'}
  
  = partial "layouts/header_element"

  %body{:class=> page_classes}

    = partial "layouts/site_nav"

    %section.main.projects.has_shadow  

      %h1.text_shadow
        =current_page.data.title

        - unless (index == pages.length-1 )
          .next
            =image_tag 'arrow_next-tiny.svg'
        
        - unless (index == 0 )
          .previous
            =image_tag 'arrow_previous-tiny.svg'

      %article
        - if current_page.data.gallery_images
          .project_gallery        
            - current_page.data.gallery_images.each do |img|
              %figure 
                %img{:src=>img.url, :id=>'slide_', :class=>'gallery_large'} 

              %figcaption
                =img.caption

        = yield   



  = javascript_include_tag "jquery.min.js"  
  = javascript_include_tag "my_face.js"  
 
  = yield_content(:javascript)