%html{:lang => 'en'}
  
  = partial "layouts/header_element"

  %body{:class=> page_classes}

    = partial "layouts/site_nav"

    %section.main.has_shadow
      = yield   
   
  = javascript_include_tag "jquery.min.js"  
  = javascript_include_tag "my_face.js"  
    
  = yield_content(:javascript)