%html
  %head
    %meta{:charset=>"utf-8"}
    %meta{:content=>"IE=edge,chrome=1", :'http-equiv'=>"X-UA-Compatible"}
    %meta{:name=>"ROBOTS", :content=>"INDEX, FOLLOW"}
    %meta{:title => data.site.meta.title}
    %meta{:keywords => data.site.meta.keywords}
    %meta{:description => data.site.meta.description}
    %meta{:name => "viewport", :content => "width = device-width, initial-scale = 1, user-scalable = yes"} 
    
    %link{:rel=>"icon", :type=>"image/png", :href=>"/images/favicon.png"}
   
    = stylesheet_link_tag 'site'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Geo'
    = yield_content :head

  %body{:class=> page_classes}
    
    #site_header 
      %header
        %h1#logo
          %a{:href => '/'}
            %span
              Jan Drewniak 
            //=image_tag "logo.svg", :class => 'site_logo'
        %p.clear.tag_line 
          = data.site.tagline
      
      %aside#aside
        %canvas#canvas
          %figure
            =image_tag "avatar.jpg", :id=>'avatar'
        %figcaption#about_me
          = data.site.about_me
          
          = link_to(data.site.work_link, '/work.html', :class=>'work_button button')
          
          %a#about_me_button.button{:href=>'#about_me'}
            about me
            
          %a#blog_button.button{:href=>'#nav'}
            blog
      
    - if is_blog_article?
      %section#main{:role=>"main"}      
        = partial "article_template"
    - elsif request.path.match(/work\/.|work.html|_project_template.html/)
      %section#main.work{:role=>"main"}            
        = yield
    - else 
      %section#main{:role=>"main"}      
        = yield   
   
    %nav#nav
      %h3.header
        BL<wbr>OG
      #prevnext
        - current = blog.articles.find_index{|article| article.url == @current_path}
        - prev_link = blog.articles[current.to_i-1].url
     
        - if (blog.articles[current.to_i+1] == nil)
          - next_link = blog.articles[0].url
        - else 
          - next_link = blog.articles[current.to_i+1].url
         
        %a#prev{:href=>prev_link}
          \-prev
        %a#next{:href=>next_link}
          next+
       
      %ul
        - blog.articles[0...10].each do |article|
          %li
            -if article.url == @current_path
              %a.article_link.current{:href=>article.url}
                = article.title
            - else
              %a.article_link{:href=>article.url}
                = article.title
 

= javascript_include_tag "jquery.min.js"    
= javascript_include_tag "script.js"   